$accent: #43425d;
$hover-accent: #3b86ff;

$rbc-header: #f5f6fa;
$rbc-border: #eaf0f4;

$smog: #a5a4bf;
$hover-smog: #a3a0fb;
$light-gray: #bcbccb;
$gray: #a3a6b4;
$bg: #f0f0f7;
$dark: #000;
$main-light: #fff;
$dark: #3c3b53;
